html, body {

  background-color: white;
  font-size: 21px;
  font-family:'Linux Libertine','Hoefler Text',Georgia,'Times New Roman',Times,serif;
  font-weight:normal;

}
.h1 {
  height: 25%;
  display: block;
  margin: auto;
  position: relative;
}
.p1 {
  position: absolute;
  display: block;
  left: 15%;
  top: 5%;
  width: 72%;
}
.p2 {
  position: absolute;
  display: block;
  left: 15%;
  top: 25%;
  width: 72%;
}
.p3 {
  position: absolute;
  display: block;
  left: 74%;
  top: 50%;
  width: 72%;
}
.h2{
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: space-between;

}

.h60 {
  clear: both;
  text-align: center;
  width: 70%;
  margin: 10px auto;
  border-top: .5px solid #aaa;
  display: block;
}
.h61 {
  font-size: 14px;
  text-align: center;
}
.h62 {
  font-size: 14px;
}
.margins {
  margin: 5px;
}
